{{#each this}}
<li class="country-list__item">
    <img class="flag" src="{{flags.svg}}" alt="{{name}}" width = "40" height = "20">
    <p class ="county-name"> {{name.official}}</p>
</li>


{{/each}}
















